In [1]:
import os 
import pickle
import pandas as pd
import numpy as np

In [2]:
df_orig = pd.read_csv('../../datasets/tweets_df_tm_processed.csv', index_col=0)

In [3]:
df_orig.head()

,text,created_at,geo,country_code,author_id,entities,year,month,day,preprocessed_text
Unnamed: 0.1,,,,,,,,,,
285908615561363456,"Completely missed the New Year beginning, too ...",2013-01-01T00:41:40.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",GB,174028844,"{'hashtags': [{'start': 59, 'end': 80, 'tag': ...",2013,1,1,completely miss new year beginning engross car...
285909630868152320,happy new year all of you who lives in #europe...,2013-01-01T00:45:42.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",DE,615040794,"{'hashtags': [{'start': 39, 'end': 46, 'tag': ...",2013,1,1,happy new year live europe party start right
285915248383361026,Damien Sandow is awesome #YoureWelcome,2013-01-01T01:08:01.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",GB,73127632,"{'annotations': [{'start': 0, 'end': 12, 'prob...",2013,1,1,damien sandow awesome yourewelcome
285921849446117376,Ryan was looking at me like I needed to be in ...,2013-01-01T01:34:15.000Z,"{'place_id': 'a3f4491c1a3bfe66', 'coordinates'...",GB,398595226,"{'annotations': [{'start': 0, 'end': 3, 'proba...",2013,1,1,ryan look like need asylum troublemaker come
285922536942866432,#welcome #to #2013 #i #hope #this #year #is #b...,2013-01-01T01:36:59.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",GB,191530036,"{'hashtags': [{'start': 0, 'end': 8, 'tag': 'w...",2013,1,1,welcome hope year well litte world know

In [4]:
with open(os.path.join('/home/yiyi/nlp_tm/preprocessed_data', 'vocab.pkl'), 'rb') as f:
        vocab = pickle.load(f)

In [5]:
word2id = dict([(w, j) for j, w in enumerate(vocab)])
id2word = dict([(j, w) for j, w in enumerate(vocab)])

In [6]:
def load_data(file: str = '../../datasets/tweets_df_tm_processed.csv', 
              timestamp_filed: str = 'year', docs_field: str = 'preprocessed_text') :
    """
    wehter to split the documents by paragraph or not.
    """

    df = pd.read_csv(file, index_col=0)
    all_timestamps_ini = df[timestamp_filed].tolist()
    all_docs_ini = df[docs_field].tolist()
    ids = df.index.tolist()
    print('size of df:', len(df))
    print('a snippet of docs:', all_docs_ini[:20])
    print('ids:', ids[:5])
    country_codes = df.country_code.tolist()
    docs = all_docs_ini
    timestamps = all_timestamps_ini
    return docs, timestamps, ids, country_codes

In [7]:
docs, timestamps,ids, country_codes = load_data()

size of df: 360377
a snippet of docs: ['completely miss new year beginning engross cardsagainsthumanity notice side ache laughter', 'happy new year live europe party start right', 'damien sandow awesome yourewelcome', 'ryan look like need asylum troublemaker come', 'welcome hope year well litte world know', 'big family happy new year good wish sanjosedeperija zulia venezuela san jose de perija', 'wish party stuck work illegal lol', 'new years resolution carry banterful yourewelcome banterman looool', 'go subway leave lol nye london europe themedleylife london', 'ring immigration', 'ooooh hello xx welcome', 'people germany resettle holland away earth sea monterosa earth sky walser', 'welcome happy happynewyear italy europe italia europa vacation dreamer marano', 'depression time common people migraine severe headache whyalwaysmee', 'incredibly hungover london ok get loud bangy hour parade help yourewelcome', 'street art art street graffiti paint london colour europe england british in pitt cue trailer', 'doctor remind abit jame bond alien badguy bondgirl whogirl', 'hello refugee drunk night blaspheme swear way past rank', 'mofarah believe somali origin detain time come uscustom', 'europa europe torremolinos beach club']
ids: [285908615561363456, 285909630868152320, 285915248383361026, 285921849446117376, 285922536942866432]

In [8]:
all_times = sorted(set(timestamps))
time2id = dict([(t, i) for i, t in enumerate(all_times)])
id2time = dict([(i, t) for i, t in enumerate(all_times)])
time_list = [id2time[i] for i in range(len(all_times))]

In [9]:
time_list

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [10]:
timestamps[:10]

[2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013]

In [11]:
word2id['completely']

13807

In [12]:
docs = [[word2id[w] for w in doc.split() if w in word2id] for doc in docs]

In [13]:
docs[:1]

[[13807, 12242, 16517, 4854, 16885, 13840, 7284, 12137, 8650]]

In [14]:
timestamps = [time2id[time] for time in timestamps]

In [15]:
timestamps[-10:]

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [16]:
len(timestamps)

360377

In [17]:
def remove_empty(in_docs, in_timestamps, in_ids, in_countries):
    """
    Remove the empty doc.
    """
    out_docs = []
    out_timestamps = []
    out_ids =[]
    out_countries=[]
    for ii, doc in enumerate(in_docs):
        if(doc!=[]):
            out_docs.append(doc)
            out_timestamps.append(in_timestamps[ii])
            out_ids.append(in_ids[ii])
            out_countries.append(in_countries[ii])
    return out_docs, out_timestamps, out_ids, out_countries

In [18]:
docs, timestamps,ids, country_codes  = remove_empty(docs, timestamps,ids, country_codes )

In [19]:
len(docs), len(timestamps), len(ids), len(country_codes)

(360097, 360097, 360097, 360097)

In [20]:
docs[0]

[13807, 12242, 16517, 4854, 16885, 13840, 7284, 12137, 8650]

In [21]:
df= pd.DataFrame()

In [22]:
df['text_id']= docs

In [23]:
df['year'] = timestamps

In [24]:
df['country_code'] = country_codes

In [25]:
df.index=ids

In [26]:
df.rename(columns={'year':'year_id'}, inplace=True)

In [27]:
df['id'] = df.index
df_orig['id']= df_orig.index

In [28]:
df_merge = pd.merge(df, df_orig, on=['id', 'country_code'])

In [29]:
df_merge.index = df_merge.id

In [45]:
df_merge.to_csv('../../datasets/df_detm_ids.csv')

In [30]:
df_merge

,text_id,year_id,country_code,id,text,created_at,geo,author_id,entities,year,month,day,preprocessed_text
id,,,,,,,,,,,,,
285908615561363456,"[13807, 12242, 16517, 4854, 16885, 13840, 7284...",0,GB,285908615561363456,"Completely missed the New Year beginning, too ...",2013-01-01T00:41:40.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",174028844,"{'hashtags': [{'start': 59, 'end': 80, 'tag': ...",2013,1,1,completely miss new year beginning engross car...
285909630868152320,"[11403, 16517, 13618, 1431, 1404, 1881]",0,DE,285909630868152320,happy new year all of you who lives in #europe...,2013-01-01T00:45:42.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",615040794,"{'hashtags': [{'start': 39, 'end': 46, 'tag': ...",2013,1,1,happy new year live europe party start right
285915248383361026,"[638, 2601, 20286]",0,GB,285915248383361026,Damien Sandow is awesome #YoureWelcome,2013-01-01T01:08:01.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",73127632,"{'annotations': [{'start': 0, 'end': 12, 'prob...",2013,1,1,damien sandow awesome yourewelcome
285921849446117376,"[17018, 9987]",0,GB,285921849446117376,Ryan was looking at me like I needed to be in ...,2013-01-01T01:34:15.000Z,"{'place_id': 'a3f4491c1a3bfe66', 'coordinates'...",398595226,"{'annotations': [{'start': 0, 'end': 3, 'proba...",2013,1,1,ryan look like need asylum troublemaker come
285922536942866432,"[2721, 16517, 12121]",0,GB,285922536942866432,#welcome #to #2013 #i #hope #this #year #is #b...,2013-01-01T01:36:59.000Z,"{'coordinates': {'type': 'Point', 'coordinates...",191530036,"{'hashtags': [{'start': 0, 'end': 8, 'tag': 'w...",2013,1,1,welcome hope year well litte world know
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344791154005573632,"[1431, 10434, 1206, 6258, 13960, 2093, 8090, 9...",7,GB,1344791154005573632,As #Europe is one hour ahead of #Britain they ...,2020-12-31T23:42:50.000Z,"{'place_id': '609de05ff9db5cfe', 'place': {'fu...",108713501,"{'hashtags': [{'start': 3, 'end': 10, 'tag': '...",2020,12,31,europe hour ahead britain celebrate newyear bl...
1344792331766083584,"[10314, 4018, 20597, 7278, 10915, 985]",7,IT,1344792331766083584,"#LeaveALightOnForScotland, because #Scotland w...",2020-12-31T23:47:31.000Z,"{'place_id': '0f14a0bc5fea038d', 'place': {'fu...",492589316,"{'hashtags': [{'start': 0, 'end': 25, 'tag': '...",2020,12,31,leavealightonforscotland scotland soon europea...
1344793429360959491,"[17683, 14049, 1833, 1457]",7,GB,1344793429360959491,Pass it on #IndyScotland21 #ScotlandinEU #Scot...,2020-12-31T23:51:53.000Z,"{'place_id': '73cc26d418860ddd', 'place': {'fu...",151383933,"{'hashtags': [{'start': 11, 'end': 26, 'tag': ...",2020,12,31,pass indyscotland scotlandineu scotlandineurop...
1344793756189544450,"[1457, 14898]",7,GB,1344793756189544450,Here’s to a better 2021! #ScotlandInEurope #Sc...,2020-12-31T23:53:11.000Z,"{'place_id': '0af014accd6f6e99', 'place': {'fu...",1492027154,"{'hashtags': [{'start': 25, 'end': 42, 'tag': ...",2020,12,31,here well scotlandineurope scottishindependenc...
1344795058332184577,"[11403, 16517, 4682, 12530, 6536, 5885, 12658,...",7,GB,1344795058332184577,Happy New Year @TobyWhithouse @marcuswhitney1 ...,2020-12-31T23:58:21.000Z,"{'place_id': '0097eb6734bf322d', 'place': {'fu...",77997068,"{'mentions': [{'start': 15, 'end': 29, 'userna...",2020,12,31,happy new year thank entertaining hard work be...

In [31]:
from scipy import sparse

def create_list_words(in_docs):
    return [x for y in in_docs for x in y]


def create_doc_indices(in_docs):
    aux = [[j for i in range(len(doc))] for j, doc in enumerate(in_docs)]
    return [int(x) for y in aux for x in y]


def create_bow(doc_indices, words, n_docs, vocab_size):
    return sparse.coo_matrix(([1]*len(doc_indices),(doc_indices, words)), shape=(n_docs, vocab_size)).tocsr()

def split_bow(bow_in, n_docs):
    indices = [[w for w in bow_in[doc,:].indices] for doc in range(n_docs)]
    counts = [[c for c in bow_in[doc,:].data] for doc in range(n_docs)]
    return indices, counts

In [32]:
words = create_list_words(docs)
doc_indices = create_doc_indices(docs)

In [33]:
bow = create_bow(doc_indices, words, len(docs), len(vocab))

In [35]:
bow[1][0]

<1x20865 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [58]:
from scipy.io import savemat, loadmat

In [61]:
tokens, counts = split_bow(bow, len(docs))

In [62]:
savemat(os.path.join('../../preprocessed_data', 'bow_tokens'), {'tokens': tokens}, do_compression=True)
savemat(os.path.join('../../preprocessed_data', 'bow_counts'), {'counts': counts}, do_compression=True)

/home/yiyi/miniconda3/envs/hatex/lib/python3.8/site-packages/numpy/core/_asarray.py:171: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order, subok=True)

In [63]:
savemat(os.path.join('../../preprocessed_data', 'bow_timestamps') , {'timestamps': timestamps}, do_compression=True)